.container {
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: aliceblue;

    background: linear-gradient(175deg, rgba(75, 40, 141, 1) 0%, rgba(119, 205, 233, 1) 40%, rgba(96, 145, 233, 1) 100%);
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;


}

@media screen and (max-width: 810px) {
    .list {
        justify-content: center;
        flex-direction: column;
    }
}